<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style/style.css" />
<title>Tenis - Torneio release</title>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Clube</a>
				<ul th:each="organizador : ${organizador}" id="nav-mobile"
					class="right hide-on-med-and-down">
					<li><a
						th:href="${(#mvc.url('TC#listTorneios').arg(0,organizador.getId())).build()}"
						class="waves-effect waves-light btn"><i
							class="material-icons left">format_list_bulleted</i>Lista de
							torneios</a></li>
					<li><a href="/" class="waves-effect waves-light btn"><i
							class="material-icons left">arrow_forward</i>Logout</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div  class="container" >
		<h4>Clube</h4>
			<ul>
				<li><p>Torneios sediados:</p></li>
				<li th:each="torneios: ${clube.torneios}">
				<a th:href="${(#mvc.url('CC#formClubeR').arg(0,organizador.getId()).arg(1,torneios.id)).build()}">
					<span th:text="'Data: '+${torneios.data_inicio}"></span>					
				</a></li>
			</ul>	
		
		
	<form class="formClube" method="post" name="formClube">
		<div class="row">
		
			<div th:each="clube : ${clube}">
			<div class="input-field col s6">
				<label for="nome">Nome:</label> <input type="text" 
					th:value="${clube.nomeClube}" name="nomeClube" />
			</div>
			<div class="input-field col s6">
				<label for="cnpj">CNPJ:</label> <input type="text" 
					th:value="${clube.cnpj}" name="cnpj" onKeyPress="MascaraCNPJ(formClube.cnpj);" 
					maxlength="18" onBlur="ValidarCNPJ(formClube.cnpj);"/>
			</div>
			<div class="input-field col s6">
				<label for="email">Email:</label> <input type="email" 
					th:value="${clube.emailClube}" name="emailClube"  />
			</div>
			<div class="input-field col s6">
				<label for="endereco">Endereço:</label> <input type="text"
					 th:value="${clube.endereco}"
					name="endereco" />
			</div>
			</div>
			<h5>Organizador</h5>
			<div th:each="organizador : ${organizador}">
				<div class="input-field col s6">
					<label for="emailo">Email:</label> <input type="email" 
						th:value="${organizador.getEmail()}" name="email" />
				</div>
				<div class="input-field col s4">
					<label for="senhao">Senha:</label> <input type="password" 
						th:value="${organizador.senha}" name="senha" />
				</div>
				<div class="input-field col s6">
					<label for="nomeo">Nome:</label> <input type="text"
						th:value="${organizador.nome}" name="nome" />
				</div>
				<div class="input-field col s4">
					<label for="cpf">CPF:</label> <input type="text" 
						th:value="${organizador.cpf}" name="cpf" maxlength="14"  onkeyup="cpfCheck(this)" onkeydown="javascript: fMasc( this, mCPF );"><span id="cpfResponse"></span>
				</div>
			</div>
			</div>
			<div class="input-field col s3">
				<button class="waves-effect waves-light btn" type="submit">
					<i class="material-icons left">arrow_upward</i>Atualizar
				</button>
			</div>
		
		</form>
	<th:block th:include="mensagemValidacao"></th:block>
	</div>
	
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>