<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style/style.css" />
<title>Tenis - Torneio release</title>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Cadastro de Atletas</a>
				<ul th:each="organizador : ${organizador}" id="nav-mobile"
					class="right hide-on-med-and-down">
					<li><a
						th:href="${(#mvc.url('TC#listTorneios').arg(0,organizador.getId())).build()}"
						class="waves-effect waves-light btn"><i
							class="material-icons left">format_list_bulleted</i>Lista de
							torneios</a></li>
					<li><a href="/" class="waves-effect waves-light btn"><i
							class="material-icons left">arrow_forward</i>Logout</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container formAtleta" style="padding-bottom: 10px;">
	<h5>Novo atleta</h5>
		<form th:object="${atleta}" method="POST" style="padding-left: 20%; padding-right:20%">
			<div class="row">
				<div class="input-field col s12">
					<label for="nome">Nome: </label> <input type="text"
						th:value="${nome}" name="nome" />
				</div>
				<div class="input-field col s2">
					<label for="idade">Idade: </label> <input type="number" max="125" min="0"
						th:value="${idade}" name="idade" />
				</div>
				<div class="input-field col s10">
					<label for="cpf">CPF:</label> <input type="text" id="cpf"
						 th:value="${cpf}" name="cpf" maxlength="14" 
						 onkeyup="cpfCheck(this)" onKeyPress="return txtBoxFormat(this.id, '999.999.999-99',event);"/>
						 <span id="cpfResponse"></span>
				</div>				
				<div class="input-field col s6">
					<button type="submit" class="waves-effect waves-light btn">Adicionar
						Atleta</button>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="mensagemValidacao"></th:block>
	<table class="container listaAtletas">
		<thead>
			<tr>
				<th style="width: 10%; text-align:center;">Nome</th>
				<th style="width: 3%; text-align:center;">Idade</th>
				<th style="width: 3%; text-align:center;">Editar</th>
				<th style="width: 3%; text-align:center;">Deletar</th>
			<tr>
		</thead>
		<tbody>
			<tr th:each="atletas : ${atletas}">
				<td style="text-align:center;"><span th:text="${atletas.nome}"></span></td>
				<td style="text-align:center;"><span th:text="${atletas.idade}"></span></td>
				<td style="text-align:center;"><a
					th:href="${(#mvc.url('AC#formEditarAtleta').arg(0,organizador.getId()).arg(1,atletas.id)).build()}"
					class="waves-effect waves-light btn-small ball"><i
						class="material-icons">person</i></a></td>
				<td style="text-align:center;"><a
					th:href="${(#mvc.url('AC#deleteAtleta').arg(0,organizador.getId()).arg(1,atletas.id)).build()}"
					class="waves-effect waves-light btn-small ball"><i
						class="material-icons">delete_forever</i></a></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/script/script.js"></script>
</body>
</html>
