<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="style/style.css"/>
        <title>Tenis - springtenis release</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Listas</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/torneio/cadastrar" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Novo torneio!</a></li>
						<li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Atleta</a></li>
                        <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">arrow_forward</i>Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
                <table class="container">
            <thead>
                <tr>
                    <th>Clube</th>
                    <th>Data</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="torneio : ${torneios}">
                    <td><p><span th:text=""></span></td>
                    <td><p><span th:text="${torneio.data_inicio}"></span></td>
                    <td><a class="waves-effect waves-light btn-small"><i class="material-icons">edit</i></a></td>
                    <td><a class="waves-effect waves-light btn-small"><i class="material-icons">delete</i></a></td>
                </tr>
            </tbody>
        </table>
        <table class="container">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Clube</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="atleta : ${atletas}">
                    <td><p><span th:text="${atleta.nome}"></span></td>
                    <td><p><span th:text="${atleta.clube.nome}"></span></td>
                    <td><a class="waves-effect waves-light btn-small"><i class="material-icons">edit</i></a></td>
                    <td><a class="waves-effect waves-light btn-small"><i class="material-icons">delete</i></a></td>
                </tr>
            </tbody>
        </table>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    </body>
</html>
